body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    border-collapse: collapse;
}

#game-board td {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    padding: 0;
}

#game-board td.filled {
    background-color: red;
}