body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

#hold-board,
#game-board,
#next-board {
    border-collapse: collapse;
}

#game-board td {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    padding: 0;
}

#game-board td.filled {
    background-color: red;
}

#next-container {
    text-align: center;
}

#hold-board,
#next-board {
    margin-top: 10px;
    border: 1px solid #333;
}
#hold-board td,
#next-board td {
    width: 25px;
    height: 25px;
    padding: 0;
}